<html xmlns:th="https://www.thymeleaf.org">

<body>

  <div th:if="${message}">
    <h2 th:text="${message}" />
  </div>

  <div>
    <form method="POST" enctype="multipart/form-data" action="/">
      <table>
        <tr>
          <td>File to upload:</td>
          <td><input type="file" name="file" /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Upload"></td>
        </tr>
      </table>
    </form>
  </div>

  <div>
    <ul>
      <li th:each="file : ${files}">
        <a th:href="${file}" th:text="${file}"></a>
      </li>
    </ul>
  </div>

</body>

</html>